
@horange: #ffed9a;
@dorange: #fcd045;
@braun: #57401F;


.lady {
  position: fixed; 
  bottom: -100px; 
  left: -100px; 
  width: 600px;  
  height: 100%; 
  z-index: -1;  
  background: url(../../img/lady.png);
}

#loading {
  width: 100px; 
  margin: 100px auto; 
  display: none;
  border: 2px solid #57401F;
  color: #57401F;
  background-color: #ffed9a; 
}

.toolt {
  position: absolute;
  display: none;
  border: 2px solid @braun;
  padding: 2px;
  background-color: @horange;
}

.toolt-leg {
  float: left; 
  border: 1px solid #57401F; 
  width: 10px; 
  height: 10px; 
  margin: 4px 2px 0 0; 
  background-color: #ffed9a;
}

#stats-comb-4weeks div.legend table {
  border: 2px solid @braun;
  background-color: @horange;
}
